<div>
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title row">
      <div class="caption col-xs-12">

        <span class="caption-subject bold font-grey-gallery uppercase col-xs-12"> trouver les clients par la géolocalisation </span>

      </div>


    </div>
    <div class="portlet-body">

            <div class="m-heading-1 border-green m-bordered">
        <p> Google Map pour Angular 2 : <a target="_blank" href="https://angular-maps.com/">https://angular-maps.com/</a></p>

      </div>

      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

        <sebm-google-map-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
          [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

          <sebm-google-map-info-window>
            <img [src]="m.client.imgPath" style="max-height: 75px" />
            <strong>{{m.client.prenom}} {{m.client.nom}} : <a (click)="goToDetail(m.client.id)">voir détail</a></strong>
          </sebm-google-map-info-window>

        </sebm-google-map-marker>

      </sebm-google-map>

      <hr/>

      <div class="m-heading-1 border-red m-bordered">
        <p> La version marker cluster </p>
        <p> Pour faire le marker cluster, nous nous trouvons dans le contexte de la librairie de Google et non plus d'Angular.
          Le module Google Map pour Angular 2 ne gère pas encore le marker cluster.
          Du coup les évènements Angular ne sont plus accessibles. Par conséquent nous ne pouvons accéder aux routers afin de changer
          de page </p>
          <p> Nous utilisons un lien classique avec l'attribut href, mais celui-ci recharge l'application... </p>

      </div>

      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <marker-cluster [points]="points"></marker-cluster>
      </sebm-google-map>


    </div>
  </div>
  <!-- END GRID PORTLET-->
</div>