<div>
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title row">
      <div class="caption col-xs-12">

        <span class="caption-subject bold font-grey-gallery uppercase"> trouver les clients par la géolocalisation </span>

      </div>
   

    </div>
    <div class="portlet-body">
      
<sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window >
          <strong>InfoWindow content : {{m.nom}}</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
      
      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>

    </sebm-google-map>

    <hr/>

    
<sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">
    <marker-cluster [points]="points" ></marker-cluster>
    </sebm-google-map>


    </div>
  </div>
  <!-- END GRID PORTLET-->
</div>

