


<div class="col-md-6">
     <div class="search-page search-content-1">
        <div class="search-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input [(ngModel)]="term" id="search-box" (keyup)="search(term)" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn blue uppercase bold" type="button">Search</button>
                    </span>
                    </div>
                    <hr/>
                    <table class="table table-hover">
                        <tr class="m-heading-1 border-green clearfix" *ngFor="let client of clients | async" (click)="gotoDetail(client)">
                            <td>{{client.nom}} {{client.prenom}}</td>
                            <td><img width="60px" [src]="client.imgPath"/></td>
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
   
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light"  *ngIf="clientDetail" [@flyInOut]>
        <div class="portlet-title row">
            <div class="caption col-xs-12">

                <span class="caption-subject bold font-grey-gallery uppercase col-xs-9">{{clientDetail?.prenom}} {{clientDetail?.nom}}</span>
                
                <span class="col-xs-3">
                    <button class="btn green" (click)="onDetail(clientDetail)">Detail</button>
                </span>
            </div>

        </div>
        <div class="portlet-body">

            <div class="row">
                <div class="col-sm-6">
                    <img style="max-width:100%" src="{{clientDetail?.imgPath}}" />
                </div>

                <div class="col-sm-6">
                    <div class="mt-element-list">
                        
                        <div class="mt-list-container list-simple ext-1">
                            <ul>

                                <li class="mt-list-item done" style="border-top: 3px solid">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{clientDetail?.telephone}}
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{clientDetail?.email}}
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{clientDetail?.adresse?.rue}}, {{clientDetail?.adresse?.zipcode}}, {{clientDetail?.adresse?.ville}}
                                        </h3>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--<hr/>-->
            <!--<a class="col-xs-12 btn dark btn-outline sbold btn-block" data-toggle="modal" href="#basic">Afficher sur la map </a>-->
            <!--<hr/>-->
            <!--<sebm-google-map [latitude]="lat" [longitude]="lng">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>-->

            <hr/>

            <div class="row">

                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block" (click)="onEdit(clientDetail)">Edit</button>
                </div>

                <div class="col-xs-6">
                    <button class="btn btn-danger btn-block" (click)="onDelete(clientDetail)">Supprimer</button>
                </div>
            </div>

        </div>
    </div>
    <!-- END GRID PORTLET-->
</div>
