<div [@routeAnimation]="show">
    <div class="alert alert-success">
        <strong>Ajout d'un nouveau client !</strong> Vous êtes sur le point d'ajouter un nouveau client. Renseignez bien
        tout les champs SVP
    </div>
    <div class="col-md-7">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green">

                    <span class="caption-subject bold uppercase">Formulaire</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.nom, 'has-success': !formErrors.nom}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" class="form-control" id="nom" formControlName="nom" value="test">
                                    <label for="nom">nom</label>
                                    <span *ngIf="formErrors.nom" class="help-block">{{ formErrors.nom }}</span>
                                    <span *ngIf="clientForm.controls.nom.pristine" class="help-block">{{pristineMessages.nom}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.prenom, 'has-success': !formErrors.prenom}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" class="form-control" id="prenom" formControlName="prenom">
                                    <label for="prenom">prenom</label>
                                    <span *ngIf="formErrors.prenom" class="help-block">{{ formErrors.prenom }}</span>
                                    <span *ngIf="clientForm.controls.prenom.pristine" class="help-block">{{pristineMessages.prenom}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.email, 'has-success': !formErrors.email}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" id="email" class="form-control" formControlName="email">
                                    <label for="email">email</label>
                                    <span *ngIf="formErrors.email" class="help-block">{{ formErrors.email }}</span>
                                    <span *ngIf="clientForm.controls.email.pristine" class="help-block">{{pristineMessages.email}}</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.description, 'has-success': !formErrors.description}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" id="description" class="form-control" formControlName="description">
                                    <label for="description">description</label>
                                    <span *ngIf="formErrors.description" class="help-block">{{ formErrors.description }}</span>
                                    <span *ngIf="clientForm.controls.description.pristine" class="help-block">{{pristineMessages.description}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.imgPath, 'has-success': !formErrors.imgPath}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" id="image" class="form-control" formControlName="imgPath">
                                    <label for="image">image</label>
                                    <span *ngIf="formErrors.imgPath" class="help-block">{{ formErrors.imgPath }}</span>
                                    <span *ngIf="clientForm.controls.imgPath.pristine" class="help-block">{{pristineMessages.imgPath}}</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error': formErrors.telephone, 'has-success': !formErrors.telephone}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" id="telephone" class="form-control" formControlName="telephone">
                                    <label for="telephone">telephone</label>
                                    <span *ngIf="formErrors.telephone" class="help-block">{{ formErrors.telephone }}</span>
                                    <span *ngIf="clientForm.controls.telephone.pristine" class="help-block">{{pristineMessages.telephone}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-md-line-input form-md-floating-label edited" [ngClass]="{'has-error': formErrors.adresse, 'has-success': !formErrors.adresse}">
                                    <input [ngClass]="{'edited':isEdit}" type="text" id="adresse" class="form-control" formControlName="autocomplete" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">

                                    <span *ngIf="formErrors.adresse" class="help-block">{{ formErrors.autocomplete }}</span>
                                    <span *ngIf="clientForm.controls.autocomplete.pristine" class="help-block">{{pristineMessages.autocomplete}}</span>
                                </div>
                            </div>
                        </div>

                        <div formGroupName="adresse">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <input [ngClass]="{'edited':isEdit}" readonly="" type="text" id="rue" class="form-control" formControlName="rue" [value]="getRue()">
                                        <label for="rue">rue</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <input [ngClass]="{'edited':isEdit}" readonly="" type="text" id="zipcode" class="form-control" formControlName="zipcode"
                                            [value]="autocomplete ? autocomplete.getPlace()?.address_components[6].long_name : ''">
                                        <label for="zipcode">code postal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <input [ngClass]="{'edited':isEdit}" readonly="" type="text" id="ville" class="form-control" formControlName="ville" [value]="autocomplete ? autocomplete.getPlace()?.address_components[2].long_name : ''">
                                        <label for="ville">ville</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <input [ngClass]="{'edited':isEdit}" readonly="" type="text" id="pays" class="form-control" formControlName="pays" [value]="autocomplete ? autocomplete.getPlace()?.address_components[5].long_name : ''">
                                        <label for="pays">pays</label>
                                    </div>
                                </div>
                            </div>


                            <input [hidden]="true" formControlName="latitude" type="text" id="lat" readonly [value]="autocomplete ? autocomplete.getPlace()?.geometry.location.lat() : ''"
                            />
                            <input [hidden]="true" formControlName="longitude" type="text" id="lng" readonly [value]="autocomplete ? autocomplete.getPlace()?.geometry.location.lng() : ''"
                            />
                        </div>


                        <div class="form-group form-md-radios has-success">
                            <label>genre</label>
                            <div class="md-radio-list" *ngFor="let g of genres">
                                <div class="md-radio">
                                    <input type="radio" formControlName="genre" id="{{g}}" class="md-radiobtn" value="{{g}}">
                                    <label for="{{g}}">
                                                                                <span></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span> {{g}} </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-actions noborder">
                        <button type="button" [disabled]="!clientForm.valid || state" type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn default" (click)="onCancel()">Cancel</button>
                        <div *ngIf="state" style="display: inline-block; vertical-align: middle; margin-left: 80px;" class="loader"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green">

                    <span class="caption-subject bold uppercase"> Informations</span>
                </div>
            </div>
            <div class="portlet-body">
                <button type="button" id="clickJson" class="btn blue-hoki btn-block">afficher l'objet json</button>
                <div id="json" style="display:none">
                    <hr/>
                    <pre>
        {{clientForm.value | json}} <br/>validation => {{clientForm.valid}}

    </pre>
                </div>
                <hr/>
                <img style="max-width: 100%" [src]="clientForm.value.imgPath" />
                <hr/>
                <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                </sebm-google-map>

            </div>
        </div>
    </div>
</div>