<div class="col-md-6 ">
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">

        <span class="caption-subject bold font-grey-gallery uppercase"> Liste des clients </span>
        <span class="caption-helper">more samples...</span>

        <button type="button" class="btn green-meadow" (click)="onAdd()">Add</button>
      </div>
      <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="" aria-describedby="tooltip372185">
        </a>
      </div>

    </div>
    <div class="portlet-body">
      <h4>Derniers clients</h4>

      <table class="table table-hover table-light">
      <thead>
        <tr class="uppercase">
          <!--<th>nom</th>-->
          <th>prenom</th>
          <th>description</th>
          <th>portrait</th>
        </tr>
        </thead>
        <tr [@flyInOut] *ngFor="let client of clients" (click)="onSelect(client)">
          <!--<td>{{client.nom}}</td>-->
          <td>{{client.prenom}}</td>
          <td>{{client.description}}</td>
          <td><img style="height: 50px; width: 70px" src="{{client.imgPath}}" /></td>
        </tr>
      </table>


    </div>
  </div>
  <!-- END GRID PORTLET-->
</div>
