<!-- BEGIN Portlet PORTLET-->
    <div [@flyInOut] class="portlet light">
        <div class="portlet-title row">
            <div class="caption col-xs-12">

                <span class="caption-subject bold font-grey-gallery uppercase col-xs-9">{{client?.prenom}} {{client?.nom}}</span>
                
                <span class="col-xs-3 top">
                <button class="btn green" (click)="goList()">Retour Liste client</button>
                </span>
            </div>

        </div>
        <div class="portlet-body">

            <div class="row">
                <div class="col-sm-6">
                    <img style="max-width:100%" src="{{client?.imgPath}}" />
                </div>

                <div class="col-sm-6">
                    <div class="mt-element-list">
                        
                        <div class="mt-list-container list-simple ext-1">
                            <ul>

                                <li class="mt-list-item done" style="border-top: 3px solid">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{client?.telephone}}
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{client?.email}}
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{client?.adresse?.rue}}, {{client?.adresse?.zipcode}}, {{client?.adresse?.ville}}
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </div>
                                    <div style="padding-right: 10px" class="list-item-content">
                                        <h3>
                                            {{client?.description}}
                                        </h3>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--<hr/>-->
            <!--<a class="col-xs-12 btn dark btn-outline sbold btn-block" data-toggle="modal" href="#basic">Afficher sur la map </a>-->
            <!--<hr/>-->
            <!--<sebm-google-map [latitude]="lat" [longitude]="lng">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>-->

            <hr/>

            <div class="row">

                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block" (click)="onEdit(client)">Edit</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-danger btn-block" (click)="onDelete(client)">Supprimer</button>
                </div>
            </div>

        </div>
    </div>
    <!-- END GRID PORTLET-->
